<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <style type="text/css">
        input, select {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px #aacfe4;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

        #message {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px darkred;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

    </style>
</head>
<body>
<div><h1>Teams</h1></div>
<span id="message"></span>
<form id="team_form">
    <label for="team">Team</label><select id="team"></select>
    <input type="hidden" id="id" name="id">
    <label for="team_slug">Team ID</label><input type="text" id="team_slug" name="team_slug">
    <label for="team_name">Team Name</label><input type="text" id="team_name" name="team_name">
    <label for="team_parent">Team Parent</label><select id="team_parent"></select>

    <input type="submit" value="Submit">
</form>
<script type="text/javascript">


    function validate() {
        var input = $("#team_slug").val();
        var re = /[^a-z0-9_\-]+/g;

        var test = re.test(input);
        if (test) {
            $("#message").text("Team Id must contain lower case letters, numbers and _ or - only");
        }
        
        //TODO check parent is not a circular reference

        return test;
    }

    var frm = $('#team_form');

    frm.submit(function (e) {

        e.preventDefault();

        var teamElement = $('#team');
        var teamSlug = $("#team_slug");
        var teamName = $("#team_name");
        var message =   $("#message");

        if (teamSlug.val() === "") {
            message.text("Team Id Required");
            return;
        }
        if (validate()) {
            return;
        }

        var team = {
            slug: teamSlug.val(),
            name: teamName.val(),
            parentId:$("#team_parent").val()
        };

        var method = "POST";
        var url = "/team/";

        if (teamElement.val() !== "") {
            method = "PUT";
            url = teamElement.val();
        }

        saveTeam(method, url, team).then(function(x){
            console.log('Submission was successful');

            loadTeams().then(function(a){
                processTeamList(a);
            }).then(function(){
                var team = x._links.self.href;
                console.log(team);
                cb(x);
            });
        }).fail(function (x) {
            console.log('An error occurred');
        });

        message.text("Team Saved");
        return false;

    });

    function saveTeam(method, url, team){
        console.log("Save team :" + team);
        return $.ajax({
            method: method,
            url: url,
            data: JSON.stringify(team),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    }

    function cb(data) {
        console.log(data);
        $("#id").val(data.id);
        $("#team").val(data._links.self.href);
        $("#team_slug").val(data.slug);
        $("#team_name").val(data.name);
        $("#team_parent").val(data.parentId);
    }

    function loadTeams() {
        console.log("Loading teams");
        return $.ajax({
            method: "GET",
            url: "/team?size=1000"
        });
    }

    function processTeamList(data){

        var teams = data._embedded.team;

        var teamElement = $('#team');
        var teamParentElement = $('#team_parent');

        teamElement.empty();
        teamElement.append('<option value="">Select</option>');
        teamParentElement.empty();
        teamParentElement.append('<option value="">Select</option>');

        for (var i = 0; i < teams.length; i++) {
            teamElement.append('<option value="' + teams[i]._links.self.href + '">' + teams[i].name + '</option>');
            teamParentElement.append('<option value="' + teams[i].id + '">' + teams[i].name + '</option>');
        }
    }

    $(loadTeams().done(processTeamList));

    function loadTeam(teamId) {
        $("#message").text("");
        if ("" === teamId) {
            $("#id").val("");
            $("#team_slug").val("");
            $("#team_name").val("");
            $("#team_parent").val("");
            return;
        }

        $.ajax({
            method: "GET",
            url: teamId,
            success: function (data) {
                cb(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $("#team").change(function () {
         loadTeam(this.value);
    });
</script>
</body>
</html>