<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <h1>Teams</h1>
    </div>
<div id="message" data-role="popup" class="ui-content"></div>
    <div role="main" class="ui-content">
        <form id="team_form">
            <div class="ui-field-contain">
                <label for="team">Team :</label><select id="team"></select>
            </div>
            <div class="ui-field-contain">
                <input type="hidden" id="id" name="id">
            </div>
            <div class="ui-field-contain">
                <label for="team_slug">Team ID :</label><input type="text" id="team_slug" name="team_slug">
            </div>
            <div class="ui-field-contain">
                <label for="team_name">Team Name :</label><input type="text" id="team_name" name="team_name">
            </div>
            <div class="ui-field-contain">
                <label for="team_parent">Team Parent :</label><select id="team_parent"></select>
            </div>
            <div class="ui-field-contain">
                <label for="team_members_email">Team Member Email's :</label>
                <ul id="team_members_email" data-role="listview">
                </ul>
            </div>
            <div class="ui-field-contain">
                <label for="add_team_members_email">Add a team members email :</label>
                <input type="text" id="add_team_members_email" name="add_team_members_email">
                <button id="add_team_members_email_button" type="button" class="ui-btn ui-shadow ui-corner-all ui-btn-inline">Add</button>
            </div>
            <br>
            <div class="ui-field-contain">
                <label for="team_application_ids">Team Application ID's :</label>
                <ul id="team_application_ids" data-role="listview">
                </ul>
            </div>
            <br>
            <div class="ui-field-contain">
                <label for="add_application_id">Add an Application ID :</label>
                <input type="text" id="add_application_id" name="add_application_id">
                <button id="add_application_id_button" type="button" class="ui-btn ui-shadow ui-corner-all ui-btn-inline">Add</button>
            </div>
            <div class="ui-field-contain">
                <button class="ui-btn ui-shadow ui-corner-all ui-btn-b" type="submit">Save</button>
            </div>
        </form>
    </div>
    <div data-role="footer">
        
    </div>
</div>
<script type="text/javascript">

    var addApplicationIdElement = $("#add_application_id");

    $("#add_application_id_button").click(function () {
        appendToList($("#team_application_ids"), addApplicationIdElement.val());
        addApplicationIdElement.val("");
    });

    var addTeamMembersEmailElement = $("#add_team_members_email");

    $("#add_team_members_email_button").click(function () {
        appendToList($("#team_members_email"), addTeamMembersEmailElement.val());
        addTeamMembersEmailElement.val("");
    });

    function validate() {
        var messageElement = $("#message");

        if($("#id").val() === $("#team_parent").val()){
            messageElement.text("A Team cannot be a parent of itself");
            messageElement.popup("open");
            return true;
        }

        var input = $("#team_slug").val();
        var re = /[^a-z0-9_\-]+/g;
        var test = re.test(input);
        if (test) {
            messageElement.text("Team Id must contain lower case letters, numbers and _ or - only");
            messageElement.popup("open");
        }
        return test;
    }

    var frm = $('#team_form');

    frm.submit(function (e) {

        e.preventDefault();

        var teamElement = $('#team');
        var teamSlug = $("#team_slug");
        var teamName = $("#team_name");
        var messageElement =   $("#message");

        if (teamSlug.val() === "") {
            messageElement.text("Team Id Required");
            messageElement.popup("open");
            return;
        }
        if (validate()) {
            return;
        }

        var teamMemberEmails = [];
        $("#team_members_email li").each(function(i, elem) {
            teamMemberEmails.push($(elem).text().trim());
        });

        var applicationIds = [];
        $("#team_application_ids li").each(function(i, elem) {
            console.log($(elem).text());
            applicationIds.push($(elem).text().trim());
        });

        var team = {
            slug: teamSlug.val(),
            name: teamName.val(),
            parentId: $("#team_parent").val(),
            teamMemberEmails: teamMemberEmails,
            applicationIds: applicationIds
        };

        var method = "POST";
        var url = "/team/";

        if (teamElement.val() !== "") {
            method = "PUT";
            url = teamElement.val();
        }

        saveTeam(method, url, team).then(function(x){
            console.log('Submission was successful');

            loadTeams().then(function(a){
                processTeamList(a);
            }).then(function(){
                var team = x._links.self.href;
                console.log(team);
                cb(x);
            });
        }).fail(function () {
            console.log('An error occurred');
        });

        messageElement.text("Team Saved");
        messageElement.popup("open");
        return false;

    });

    function saveTeam(method, url, team){
        console.log("Save team :" + team);
        return $.ajax({
            method: method,
            url: url,
            data: JSON.stringify(team),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    }

    var listIdCount = 0;

    function appendToList(elem, value){
        var listId = listIdCount;
        elem.append('<li id="list-item-' + listId + '" class="ui-li-static ui-body-inherit ui-first-child ui-last-child">' + value + '</li><a id="list-delete-button-' + listId + '" href="#" class="ui-btn ui-btn-inline">Delete</a>');
        $('#list-delete-button-' + listId).click(function(){
            $('#list-item-' + listId ).remove();
            $(this).remove();
        });
        listIdCount++;
    }

    function cb(data) {
        var teamParentElement = $('#team_parent');

        console.log(data);
        $("#id").val(data.id);
        $("#team").val(data._links.self.href);
        $("#team_slug").val(data.slug);
        $("#team_name").val(data.name);
        teamParentElement.val(data.parentId);

        teamParentElement.selectmenu("refresh", true);

        var teamMembersEmailElement = $("#team_members_email");
        teamMembersEmailElement.empty();
        if(data.teamMemberEmails != null) {
            for (var i = 0; i < data.teamMemberEmails.length; i++) {
                appendToList(teamMembersEmailElement, data.teamMemberEmails[i]);
            }
        }

        var teamApplicationIdsElement = $("#team_application_ids");
        teamApplicationIdsElement.empty();
        if(data.applicationIds != null) {
            for (var j = 0; j < data.applicationIds.length; j++) {
                appendToList(teamApplicationIdsElement, data.applicationIds[j]);
            }
        }
    }

    function loadTeams() {
        console.log("Loading teams");
        return $.ajax({
            method: "GET",
            url: "/team?size=1000"
        });
    }

    function processTeamList(data){

        var teams = data._embedded.team;

        var teamElement = $('#team');
        var teamParentElement = $('#team_parent');

        teamElement.empty();
        teamElement.append('<option value="">Select</option>');
        teamParentElement.empty();
        teamParentElement.append('<option value="">Select</option>');

        for (var i = 0; i < teams.length; i++) {
            teamElement.append('<option value="' + teams[i]._links.self.href + '">' + teams[i].name + '</option>');
            teamParentElement.append('<option value="' + teams[i].id + '">' + teams[i].name + '</option>');
        }
    }

    $(loadTeams().done(processTeamList));

    function loadTeam(teamId) {
        $("#message").text("");
        if ("" === teamId) {
            $("#id").val("");
            $("#team_slug").val("");
            $("#team_name").val("");
            $("#team_parent").val("");
            $("#team_members_email").empty();
            $("#team_application_ids").empty();
            return;
        }

        $.ajax({
            method: "GET",
            url: teamId,
            success: function (data) {
                cb(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $("#team").change(function () {
         loadTeam(this.value);
    });
</script>

</body>
</html>